:root {
  --primary-white-color: #ffffff;
  --primary-blue-color: #4d5ae5;
  --primary-navyblue-color: #2e2f42;
  --primary-slate-color: #434455;
  --primary-cloud-color: #f4f4fd;
  --primary-ocean-color: #404bbf;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-slate-color);
  background-color: var(--primary-white-color);
}

.logo-header {
  font-family: "Raleway", sans-serif;
  color: var(--primary-blue-color);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.span-logo {
  color: var(--primary-navyblue-color);
}

.address {
  font-style: normal;
}
.img {
}
.list {
  list-style: none;
}
.pages {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-navyblue-color);
}
.pages:hover,
.pages:focus {
  color: var(--primary-ocean-color);
}
.address .list {
  font-style: normal;
}

.communicate {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-slate-color);
}
.communicate:hover,
.communicate:focus {
  color: var(--primary-ocean-color);
}
.link {
  text-decoration: none;
}
.main-title {
  background-color: var(--primary-navyblue-color);
}
.title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-white-color);
}
.button {
  background-color: var(--primary-blue-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-white-color);
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: var(--primary-ocean-color);
}
.title-features {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-navyblue-color);
}
.paragraph {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-slate-color);
}
.title-about {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-navyblue-color);
}
.team-section {
  background-color: var(--primary-cloud-color);
}

.name-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-navyblue-color);
}
.our-team-background {
  background-color: var(--primary-white-color);
}
.team-activity {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-slate-color);
}
.foot-background {
  background-color: var(--primary-navyblue-color);
}
.foot-logo {
  font-family: "Raleway", sans-serif;
  color: var(--primary-blue-color);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.foot-logo-studio {
  color: var(--primary-cloud-color);
}
.foot-paragraph {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-cloud-color);
}
.portfolio-butt {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-blue-color);
  cursor: pointer;
  background-color: var(--primary-cloud-color);
}
.portfolio-butt:hover,
.portfolio-butt:focus {
  color: var(--primary-white-color);
  background-color: var(--primary-ocean-color);
}
.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-navyblue-color);
}
.portfolio-paragraph {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-slate-color);
}
